/config
/crash-reports
/CustomSkinLoader
/defaultconfigs
/DiscordIntegration-Data
/kiwipacks
/kubejs
/libraries
/local
/logs
/mods
/neoessentials
/screenlogs
/versions
/world
/world_backups
/.directory
/.mixin.out


banned-ips.json
banned-players.json
eula.txt
instructions.txt
ops.json
server.jar
server.properties
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json
*.7z

